get:
  tags: [WorkspaceConfigurations]
  summary: List workspace configurations
  parameters:
    - in: query
      name: page
      schema:
        type: integer
        minimum: 1
        default: 1
    - in: query
      name: perPage
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            $ref: '../components/schemas/PaginatedWorkspaceConfigurations.yaml'
    default:
      $ref: '../components/responses/ProblemResponse.yaml'
post:
  tags: [WorkspaceConfigurations]
  summary: Create workspace configuration
  requestBody:
    required: true
    content:
      application/json:
        schema:
          $ref: '../components/schemas/WorkspaceConfigurationCreateRequest.yaml'
  responses:
    '201':
      description: Created
      content:
        application/json:
          schema:
            $ref: '../components/schemas/WorkspaceConfiguration.yaml'
    default:
      $ref: '../components/responses/ProblemResponse.yaml'
