name: buf-publish

on:
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-action@v1
        with:
          input: .
          lint: true
          breaking: false
          push: true
        env:
          BUF_TOKEN: ${{ secrets.BUF_TOKEN }}
